## -*- coding: utf-8 -*-

<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="header" file="base_header.tmpl" import="*"/>
<%namespace name="footer" file="base_footer.tmpl" import="*"/>

${set_locale(lang)}
<!DOCTYPE html>
<html lang="${lang}">
<!-- Using images from http://subtlepatterns.com/ -->
<head>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/assets/css/marsyas.css" />
</head>
<body>

<div id="banner">
  <a href="/index.html">
    <img src="/images/banner.jpg" alt="banner">
  </a>
</div>

<div id="wrapper">
  <div id="marsyas-menu">
  <ul>
  ${html_navigation_links()}
  </ul>
  </div>

  <div class="container-fluid" id="container-fluid">
      <!--Body content-->
      <div class="row-fluid">
      <div class="span2"></div>
      <div class="span8">
      <%block name="content"></%block>
      </div>
      </div>
      <!--End of body content-->
      <div id="marsyas-footer">
      ${content_footer}
      </div>
  </div>

</div>
</body>
