## -*- coding: utf-8 -*-

<%namespace name="header" file="base_header.tmpl"/>
<%namespace name="pheader" file="post_header.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
<link rel="stylesheet" type="text/css" href="/assets/css/page.css" />
</%block>

<%block name="content">

<div id="content">
  <div id="menu">
  <ul>
  ${header.html_navigation_links()}
  </ul>
  </div>

  <div id="page-content">
      ${pheader.html_title()}
      ${post.text()}

      <div id="page-footer">
      ${content_footer}
      </div>
  </div>

</div>

</%block>
