
h1 { font-size: 2.0em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }

h1 a {
  text-decoration: none;
  color: black;
}

dt { font-weight: bold; }
dd {
  margin-left: 30px;
  margin-bottom: 1em;
}

#content {
  position: absolute;
  width: 900px;
  left: 50%;
  margin-left: -450px;
}

#menu {
  width:150px;
  //height:100vh;
  float:left;
  //position: absolute;
  //left: 50%;
  margin-top: 10px;
  //margin-left: -20px;
  //background:rgba(80,80,80,0.3);
  //background:transparent;
  padding-bottom: 50px;
}

#menu ul
{
  list-style-type:none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

#menu li
{
  //padding-top: 5px;
  //padding-bottom: 5px;
  margin-bottom: 10px;
  background: rgba(80,80,80,0.3);
}


#menu li li
{
  background: rgb(80,80,80);
  margin-top: 1px;
  margin-bottom: 1px;
  //margin-left: 1px;
  //margin-right: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#menu li a { color: rgb(255,180,0); text-decoration: none; font-size:10pt }

#page-content
{
  position: absolute;
  left: 170px;
  //float:right;
  width:650px;
}

#page-footer {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size:8pt
}
