
h1 { font-size: 2.0em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }

h1 a {
  text-decoration: none;
  color: black;
}

dt { font-weight: bold; }
dd {
  margin-left: 30px;
  margin-bottom: 1em;
}

code {
  /*font-size: 10pt;*/
  background-color: rgb(230,230,255);
  padding: 1pt;
}

tt[class="docutils literal"] {
  background-color: rgb(230,230,255);
  padding: 1pt;
}

pre[class="literal-block"] {
  background-color: rgb(230,230,255);
  #border-color: rgb(180,180,250);
  border: 1px solid rgb(190,190,250);
  padding: 1em;
}

dt {
  font-weight: bold;
}

#content {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

#banner { background:black; text-align: center }
